TrackingVaccineClient/Connected Services/AuthenticationService/AuthenticationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrackingVaccineService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrackingVaccineService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfResident">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resident" nillable="true" type="tns:Resident" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResident" nillable="true" type="tns:ArrayOfResident" />
  <xs:complexType name="Resident">
    <xs:sequence>
      <xs:element minOccurs="0" name="NIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resident" nillable="true" type="tns:Resident" />
</xs:schema>