TrackingVaccineClient/Connected Services/BPOMService/BPOMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="BPOMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50061/BPOMService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50061/BPOMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBPOMService_Verify_InputMessage">
    <wsdl:part name="parameters" element="tns:Verify" />
  </wsdl:message>
  <wsdl:message name="IBPOMService_Verify_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="IBPOMService_Arrived_InputMessage">
    <wsdl:part name="parameters" element="tns:Arrived" />
  </wsdl:message>
  <wsdl:message name="IBPOMService_Arrived_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArrivedResponse" />
  </wsdl:message>
  <wsdl:message name="IBPOMService_Used_InputMessage">
    <wsdl:part name="parameters" element="tns:Used" />
  </wsdl:message>
  <wsdl:message name="IBPOMService_Used_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsedResponse" />
  </wsdl:message>
  <wsdl:portType name="IBPOMService">
    <wsdl:operation name="Verify">
      <wsdl:input wsaw:Action="http://tempuri.org/IBPOMService/Verify" message="tns:IBPOMService_Verify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBPOMService/VerifyResponse" message="tns:IBPOMService_Verify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Arrived">
      <wsdl:input wsaw:Action="http://tempuri.org/IBPOMService/Arrived" message="tns:IBPOMService_Arrived_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBPOMService/ArrivedResponse" message="tns:IBPOMService_Arrived_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Used">
      <wsdl:input wsaw:Action="http://tempuri.org/IBPOMService/Used" message="tns:IBPOMService_Used_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBPOMService/UsedResponse" message="tns:IBPOMService_Used_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBPOMService" type="tns:IBPOMService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Verify">
      <soap:operation soapAction="http://tempuri.org/IBPOMService/Verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Arrived">
      <soap:operation soapAction="http://tempuri.org/IBPOMService/Arrived" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Used">
      <soap:operation soapAction="http://tempuri.org/IBPOMService/Used" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BPOMService">
    <wsdl:port name="BasicHttpBinding_IBPOMService" binding="tns:BasicHttpBinding_IBPOMService">
      <soap:address location="http://localhost:50061/BPOMService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>