TrackingVaccineClient/Connected Services/GovermentService/GovermentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="validate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NIK" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>